# Operating System Files
.DS_Store
Thumbs.db

# Editor & IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc

# Local runtime & ad-flow runtime outputs (if run locally)
_adflow_backup/
local/
